.maali-main-banner {
  background-image: url(../../../public/assets/images/maali-services/maali-banner.png);
  background-repeat: no-repeat;
  background-color: #fdefd3;
  width: 100%;
  height: 84vh;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 7em;

  .page-title-wrapper {
    margin: 0 auto;
    color: #0d615e;
    font-weight: 600;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50px;
    padding: 12px;
    width: 200px;
  }

  h1 {
    font-size: 55px;
    font-weight: 400;
    color: #000000;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    max-width: 1000px;
    margin: 0 auto;
  }

  .common-button {
    margin: 20px auto 0 auto;
    font-size: 18px;
    padding: 16px 40px;
  }
}

.maali-offer {
  padding: 40px 0;

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    font-size: 40px;
  }
}

.why-choose-us {
  min-height: 600px;
  background-color: #fef7ea;
  background-image: url(../../../public/assets/images/maali-services/why-choose-us-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 70%;

  .why-choose-us-content {
    display: flex;
    justify-content: right;
    align-items: center;

    .inner-why-choose-us {
      min-width: 600px;
      max-width: 600px;
      width: 100%;
      margin-top: 6em;

      small {
        color: #0d615e;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
      }

      p {
        color: #0b0b0b;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;

        span {
          color: #15a29e;
        }
      }

      h2 {
        color: #2f1417;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 14px;
        margin-top: 14px;

        span {
          background-color: #faca70;
          padding: 0 10px;
        }
      }

      .common-button {
        font-size: 18px;
        padding: 10px 30px;
      }
    }
  }
}

.how-It-Works {
  margin: 5em auto;

  h2 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
  }

  .how-it-Works-Steps {
    display: flex;
    gap: 20px;

    .step-list {
      text-align: center;

      .step-number {
        color: #fff;
        background-color: rgba(23, 24, 27, 1);
        font-size: 30px;
        font-weight: 400;
        border-radius: 50px;
        height: 70px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;

        &::after {
          content: "";
          width: 182px;
          height: 3px;
          background-image: url(../../../public/assets/images/maali-services/step-line.svg);
          position: absolute;
          top: 50%;
          left: 106px;
          z-index: -1;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        .step-number {
          &::after {
            display: none;
          }
        }
      }

      h3 {
        color: #11827e;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 14px;
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
      }
    }
  }
}

.pricing-plans-wrapper {
  text-align: center;
  margin: 4em auto;

  .pricing-plans-slider {
    position: relative;

    .swiper {
      max-width: 1100px;
      padding: 50px 0;
    }

    .swiper-navigation {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      cursor: pointer;
    }
  }

  h2 {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin: 8px 0 20px;
  }

  .pricing-card {
    text-align: left;
    padding: 40px;
    border-radius: 20px;

    .common-button {
      background-color: #fff;
      color: #1a1b1e;
      border: 2px solid #1a1b1e;
      border-radius: 50px;
      margin: 12px 0;
    }

    ul {
      li {
        position: relative;
        padding-left: 25px;
        list-style-type: none;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          position: absolute;
          background-image: url(../../../public/assets/images/maali-services/checklist.svg);
          top: 5px;
          left: 0;
          width: 16px;
          height: 16px;
          background-size: 16px;
        }
      }
    }
  }

  .priceAmountTxt {
    color: #000;
    font-size: 60px;
    font-weight: 700;
  }

  .descriptionText {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
  }

  .green-services {
    background-color: #fff7c4;
    padding: 5px 8px;
    color: #1a1b1e;
    font-weight: 500;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .best-price-tag {
    background: linear-gradient(
      90deg,
      #fbf487 0%,
      #faf9a7 51.44%,
      #f3ea3c 100%
    );
    border-radius: 8px;
    padding: 5px 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #1a1b1e;
    margin: 14px 0;
    min-width: 290px;
    display: inline-block;
    letter-spacing: 2px;
  }

  .plan-pink {
    background: #fef5ed;
    background: linear-gradient(
      3deg,
      rgba(255, 226, 222, 1) 0%,
      rgba(254, 181, 171, 1) 58%
    );
  }

  .plan-yellow {
    background-image: url(../../../public/assets/images/maali-services/bestPlanBg.png);
    background-repeat: no-repeat;
    transform: scale(1.1);
  }

  .plan-green {
    background: #f8ffed;
    background: linear-gradient(
      357deg,
      rgba(233, 255, 224, 1) 0%,
      rgba(206, 255, 172, 1) 100%
    );
  }
}

.faq-wrapper {
  h2 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .faq-question {
    font-size: 18px;
    font-weight: 400;
  }

  .faq-answer {
    font-size: 16px;
    margin-bottom: 14px;
  }
}
