.thumbnail-slider {

    // display: flex;
    // justify-content: center;
    // align-items: center;
    .swiper {
        margin-left: 0;
    }

    .slide-for {
        margin-bottom: 15px;
    }

    .slide-nav {

        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled {
            opacity: 0.6 !important;
        }

        .swiper-wrapper {
            justify-content: center;
            gap: 10px;

            @media (max-width:768px) {
                gap: 5px;
            }
        }

        .swiper-slide {
            width: 100px !important;
            height: 100px !important;

            @media (max-width:768px) {
                width: 65px !important;
                height: 65px !important;
            }

            .thumbnail-slider-sm-image {
                height: 100% !important;
                width: 100% !important;

                .image-wrapper img {
                    height: 100% !important;
                    width: 100% !important;
                    padding: 0;
                }
            }
        }
    }

    .thumbnail-slider-lg-image {
        border: 1px solid #bcbcbc;
        border-radius: 8px;
        overflow: hidden;

        .image-wrapper {
            padding: 0;

            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
        }
    }

    .thumbnail-slider-sm-image {
        border: 1px solid #bcbcbc;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.6;

        &.active {
            border-color: #f3a939;
            opacity: 1;
        }
    }

    .slide-for {
        width: 80%;
        max-width: 500px;
    }
}


.magnifier-popover {
    position: absolute;
    z-index: 20; // Ensure it's above other content
    top: 0; // Position it at the top of the slider
    left: 50%; // Center it horizontally
    transform: translateX(-50%); // Center it using transform
    width: 300px; // Adjust width as needed
    height: 300px; // Adjust height as needed
    pointer-events: none; // Prevent interference with hover events

    img {
        width: 100%; // Make the image fill the popover
        height: 100%; // Make the image fill the popover
        object-fit: contain; // Ensure the image scales nicely
        transition: opacity 0.3s ease; // Optional smooth transition
    }
}


@media (max-width:600px) {
    .plant-detail-header {
        margin-top: 2em;
    }

}

@media (min-width:1920px) {
    .common-slider.thumbnail-slider {
        .slide-nav {
            width: 100px;

            .image-wrapper {
                width: 100%;

                img {
                    width: 80%;
                    object-fit: contain;
                    margin: 0 auto;
                }
            }

            .slick-arrow {
                width: 25px;
                height: 25px;

                &::before {
                    display: none;
                }

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            .slick-slide {
                height: 100px;

            }

            .slick-list {
                padding-top: 7px;
            }

            .slick-prev {
                left: 50%;
                top: 0;
                transform: translateX(-50%) rotate(270deg);

            }

            .slick-next {
                left: 50%;
                bottom: 0;
                top: auto;
                transform: translateX(-50%) rotate(90deg);
            }
        }


    }

}


@media (max-width:1920px) {
    .common-slider.thumbnail-slider {
        flex-direction: column;

        .slide-for {
            width: 100%;
            max-width: 85%;

            .thumbnail-slider-lg-image {
                .image-wrapper {
                    padding: 0;
                    height: 500px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .slick-next,
        .slick-prev {
            z-index: 9;
        }

        .slick-next {
            right: 0;
        }

        .slick-prev {
            top: 50%;
            transform: translate(0, -50%) rotate(180deg);
            left: 0;

        }

        .slide-nav {
            width: 100%;
            max-width: 85%;

            .slick-track {
                display: flex;
                height: auto !important;

            }

            .slick-list {
                height: auto !important;
            }

            .image-wrapper {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .slick-arrow {
                width: 25px;
                height: 25px;

                &::before {
                    display: none;
                }

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            .thumbnail-slider-sm-image {
                width: 85%;
                margin: 0;
            }
        }

    }

}

@media (max-width:568px) {
    .plant-detail .button-group-list .btn.btn_primary {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .magnifier-popover {
        display: none;
    }
}