.product-detail-highlights {
  .image-toggle {
    h3 {
      font-size: 1.1rem;
      color: #1a1b1e;
      font-weight: 600;
    }
  }

  .discription {
    font-size: 0.9rem;
    color: #1a1b1e;
    font-weight: 400;
    line-height: 20px;
  }

  .toggle-arrow {
    svg {
      path {
        stroke: #15a29e;
      }
    }
  }
}
